<section class="hero">
    <div class="container hero-container">
        <ul class="hero-list">
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
        </ul>
    </div>
</section>