<section class="hero">
    <div class="container">
        <ul>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit.</p>
            </li>
        </ul>
    </div>
</section>